.navbar {
    display: flex;
    align-items:center;
    background-color: rgb(0, 162, 255);
    color: white;
    padding: 1rem;
    justify-content: space-between;
}

.app-name h1 {
    margin: 0;
    font-size: 24px;
}

.links a{
    color: antiquewhite;
    margin-left: 20px;
    font-size: 18px;
}

.links a:hover {
    color: rgb(0, 221, 255);
}

