
/*Wrapper for all products*/
.product-list-wrapper {
    padding: 30px;
}

/*Heading- style*/
.product-list-heading{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #007acc;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

/*Product container- style*/
.product-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Creating the grid with 4 cards*/
    gap: 20px; /*Add space between the products*/
}

.product-card {
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
    font-size: 22px;
    color: #333;
}

.product-card p {
    font-size: 16px;
    color: #555;
}

.product-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column; /*stack buttons vertically*/
    gap: 10px;
}

.product-buttons button {
    width: 100%; /*100% width*/
    padding: 8px 15px;
    background-color: rgb(0, 162, 255) ;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-buttons button:hover{
    background-color: rgb(0, 221, 255);
}

/*Media query for smaller screens*/
@media (max-width: 1024px) {
    .product-list {
        grid-template-columns: 1fr;
    }
    
    .product-card {
        padding: 15px;
        margin-bottom: 15px;
    }

    .product-card p {
        font-size: 14px;
    }
}
